.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: #ffffff;
  border-bottom: 1px solid #f8d7da;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none; 
}

.logo-container img {
  height: 55px; 
  width: auto;
}

.logo-container h1 {
  font-size: 1.3rem;
  color: #7eb67e;
  margin: 0;
  text-decoration: none; 
}


@media (max-width: 768px) {
  header {
    flex-direction: column; 
    gap: 15px;
    padding: 20px 10px;
  }

  nav ul {
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px;
  }

  .nav-link {
    font-size: 0.9rem; 
  }
}